---
title: 3d art
---

{% set path = "/images/3d-art/" %}
{% set images =
[
"8SCharacter.png",
"fishingGame.png",
"geoTree.png",
"raft.png",
"van.png",
"stoneAxe.png",
"axe.png",
"mech.png",
"spaceship/iso.jpg",
"walker.jpg",
"campus.jpg",
"backpack.png",
"splitter.png",
"sdass.png"]
%}

<div class="gallery">
    {% for image in images %}
    {% set imagePath = path ~ image %}
    <a href={{ imagePath }}>
        <img class="gallery-item" src={{ imagePath }} title={{ image }} alt={{ image }}>
    </a>
    {% endfor %}
    <a href="/video/station2.webm">
        <video width="250" autoplay loop>
            <source src="/video/station2.webm" type="video/webm">
        </video>
    </a>

</div>